<header>
  <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                  <h4 class="text-white">About PyBerlin</h4>
                  <p class="text-muted">
                      A list of Python events happening in the lovely Berlin.
                      <br /> Handly crafted by the Berlin Python Community.
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
              <strong>PyBerlin 🐻❤️🐍</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
</header>