<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="canonical" href="{{- page.url | absolute_url -}}">
  {%- capture _page_title -%}
    {%- if page.title -%}
      {{- page.title | append: ' | ' -}}
    {%- endif -%}
    {{- site.title | default: "Untitled Website" -}}
    {%- if site.subtitle -%}{{- site.subtitle | prepend: ' - ' -}}{%- endif -%}
  {%- endcapture -%}
  {%- assign _page_title = _page_title | escape -%}
  {%- assign _page_description = page.description | default: site.description | default: _page_title | escape -%}

  <title>{{- _page_title -}}</title>
  <meta name="description" content="{{- _page_description -}}" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/assets/css/album.css" rel="stylesheet">
</head>
