<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="{{ AUTHOR }}">

  <link rel="canonical" href="{{ SITEURL }}">

  <meta name="description" content="{{ SITENAME }} &ndash; {{ SITESUBTITLE }}">
  <title>{{ SITENAME }} | {{ SITESUBTITLE }}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/assets/css/album.css" rel="stylesheet">
</head>
