---
layout: default
---

<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">A list of Python events happening in the lovely Berlin.</h1>
        <h4 class="jumbotron-heading">Learn new things about Python and its ecosystem every week.</h4>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">


          {%- for post in site.posts -%}

          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://img.youtube.com/vi/{{article.youtube}}/hqdefault.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title | escape }}</h5>
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <small class="text-muted">{{ post.date | date: date_format }}</small>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{ post.url | relative_url }}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            {%- endfor -%}

        </div>
      </div>
    </div>

  </main>
  <section class="jumbotron text-center">
      <div class="container">
          <h1 class="jumbotron-heading">Want to stay up to date?</h1>
          <p class="lead text-muted">Join the <a href="http://pythonberlinslack.herokuapp.com/">Python Berlin</a> slack channel</p>

      </div>
  </section>
