---
layout: default
---

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ page.title | escape }}</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">


      <!-- Marketing messaging and featurettes
    ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <article class="post">

        <div class="post-content">
          {{ content }}
        </div>

      </article>

      <!-- /.container -->

    </div>
  </div>

