---
layout: default
---

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ page.title | escape }}</h1>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <!--<p class="lead text-muted">{{ page.date | date: date_format }}</p>-->
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">


      <!-- Marketing messaging and featurettes
    ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <div class="row featurette">
          <div class="col-md-12">
            {{ content }}
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div>
      <!-- /.container -->

    </div>
  </div>
